body {
  font-size: 14px;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-image: url("assets/bg2.png");
}

div.login {
  position: absolute;
  top: 10%;
  left: 30%;
  width  : 400px;
  height : 500px;
  border-radius: 7%;
  background : rgb(17, 17, 17);}

div.logo {
  position: absolute;
  top: 15%;
  left: 35%;
}

button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 102, 0);
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  transition-duration: 0.4s;
  position: relative;
  top: 480px;
  left: 420px;
}

button:hover {
  background-color: rgb(138, 73, 0); /* Green */
}

img.but {
  width: 20px;
  height: 20px;
  margin: 5px;}


  .progress-bar {
    height: 4px;
    background-color: rgb(255, 255, 255);
    width: 30%;
    left: 350px;
    top: 500px;
    overflow: hidden;
    position: absolute;
  }
  
  .progress-bar-value {
    width: 100%;
    height: 100%;
    background-color: rgb(206, 79, 5);
    animation: indeterminateAnimation 1s infinite linear;
    transform-origin: 0% 50%;
  }
  
  @keyframes indeterminateAnimation {
    0% {
      transform:  translateX(0) scaleX(0);
    }
    40% {
      transform:  translateX(0) scaleX(0.4);
    }
    100% {
      transform:  translateX(100%) scaleX(0.5);
    }
  }